#auto-preview {
  background-color: #23282d;
  box-sizing: border-box;
  height: 100%;
  position: fixed;
  right: 0;
  text-align: center;
  opacity: 0;
  transition: 500ms opacity ease;
  z-index: 2;
  width: 0;
  &.isOpen {
    z-index: 100;
  }
}

#auto-preview-iframe {
  height: 100%;
  display: block;
  width: 100%;
}

.auto-preview-enabled #wpwrap {
  position: relative;
  float: left;
}

.auto-preview-enabled #poststuff,
.auto-preview-enabled #post-body-content {
  min-width: 0px !important;
}

.auto-preview-actions {
  background-color: #32373c;
  border-bottom: 1px solid #23282d;
  color: rgba(240,245,250,.85);
  font-size: 16px;
  padding: 12px 16px;
  position: relative;
  text-align: left;
  vertical-align: middle;
  z-index: 9999;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

#auto-preview .auto-preview-close,
#auto-preview .auto-preview-refresh {
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-size: 19px;
  display: inline-block;
  vertical-align: middle;
}

#auto-preview .auto-preview-close {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAAElBMVEUAAAD///////////////////8+Uq06AAAABXRSTlMA+Ekq6D9IKNQAAACgSURBVEjH7ZTBCYAwDEVFNxC9V1xAxAVEHECw+6/i5UNr4fPOheaW+Hhqm6RrUWHs/3Qtnw9nyNN+2grgiGOeLvEqBHd8QiaY4ytFqkghgXhTEu4Voq1CsFE4gcpOkOqJtAqBXiHOKoR5hQReIYFXSOAVEliFBADgK/gj8Tf5oPCo+bLwurlhsOW4abHteXBw9HB4cfxpgeAKwiXWor74ACZ8QvF9+a8jAAAAAElFTkSuQmCC');
  padding-left: 28px;
  float: right;
}

#auto-preview .auto-preview-refresh {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAn1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8Kd3m4AAAANHRSTlMAImL14vxM+QXsv5RQNxgV37iwmX5WRUA8MCkNAtnRwqqfejMI5dylilkb8MvIg21eCnNxe9hwTwAAAa5JREFUWMPtlttygkAQRIclIlEE8YIIKAp4v8Vk///bUhlCJTFsB8xLUsV5tLd7ltlZhBoa/jraxBh7vnOfORh1dJnzOLjsa7rNp7n8Qsud1PFbffmdeFrV7gxkKa2zWcnfW0kVcZV+GnpRsJN4gRPZU2u7LhJm2o/+SVsy+vZz4/3iqdY2YaYHySzs2+BZLsyv0B/my9qiRNpIZkiIYb59r1TsSsYA/rTF3eMlyoR+RkpcXpEo5/PE+kXdQdZPkfpytXkLJu5Aj9RsYRfMxzfVJYDNU7ZRqD7Hjwmx4OutEBM+wowQYy4yBekdgtgcsCsX+R3SJQz36Qy0EWGOoAp3WBAm5mOoGSCkgget4iMI4K/WRAH9BQNwjAL7c0Y8SFeQgP00gaMsoJ/JDnAUBfQzS3ydBfIzPRaPkTIB+ZmOxNMssL/YQssACdBfdEEHCdhP4Trfw4s6gf1qUl0yrnJZRhij+HPtBh8/RoZHlbFkwWy4C5xwnz4vdH6LVcVfyRLaFlXGdn+bQON+yRfSMqr1mRff1F8GVBMtGazea/eHVkh34aQ9z9dMamj4D7wCgUGE0RNcxZEAAAAASUVORK5CYII=');
  padding-left: 28px;
  margin-left: 12px;
}

.loading-spinner {
  position: absolute;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 5px solid #4d545c;
  border-right: 5px solid #4d545c;
  border-bottom: 5px solid #4d545c;
  border-left: 5px solid #0085ba;
  transform: translateZ(0);
  animation: loading 450ms infinite linear;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -32px;
  margin-left: -32px;
  z-index: -1;
}
.loading-spinner,
.loading-spinner:after {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-color: #0085ba;
  cursor: ew-resize;
  position: fixed;
  top: 0px;
  left: calc(50% - 3px);
  bottom: 0px;
  z-index: 5;
  &:after {
    background-color: #0085ba;
    content: "";
    display: block;
    height: 6px;
    padding: 8px 5px;
    width: 24px;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    margin-left: -14px;
    z-index: 9999;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACABAMAAAAxEHz4AAAAJ1BMVEUAAAD///////////////////////////////////////////////+uPUo5AAAADHRSTlMApxTR+lInGMwC397C4nmHAAABBUlEQVRo3u3WsQ3CMBSEYQsJIkpaKqQ01K5p06VIwQCMkBmYgFWYAcobClGdIstx9K69v7WwPiCxX3LOOeecc67ZMW3otbJ2nVKz/bO+trsNqdn9c6mu9fhOTcCIXAcAQxMAkFAAQEIdAOQ6gIQ6gIQS8CfMaaVuBEgoABsFJJSA9m9AQghAQhBAQhRAQhBAQhRAQhBAQhRAQhBAQghQEgjA+7Ro5ie65coZJBBQ9OAGB6CMhB6xDZAJCGxAQo/oBsjyBvJXUH9E+W9UHyT5UVZfJvl1Vg8U+UhTD1X5WFcvFvlqUy9X+XpXBwx5xFGHLHnMUwdNedRVh2193HfOOeecc67VD11EWPWs2ImKAAAAAElFTkSuQmCC");
    background-position: center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    border-radius: 3px;
    z-index: 10;
  }
}

.gutter.gutter-vertical {
  background-color: #23282d;
  cursor: ns-resize;
}
